body{


    background-color:#3a3a3a
    
    
    
    
    
    }


    p {


        color: #ffffff
    }

    p {

        font-size: 20px;
        color: #ff1717
    }




    h1 {


        color: #ffffff
    }

    h1 {

        font-size: 20px;
        color: #00f2ff
    }

    